# Ignore huge data files
*.fastq
*.fastq.gz
*.bam
*.sam
*.bai

# Ignore zipped archives (except QC reports)
*.zip
!qc_reports/*.zip

# Ignore large reference files
references/*.fa
references/*.gtf
references/*.gz

# System files
.DS_Store
